{
"log": {
    "loglevel": "warning"
  },
  "inbounds": [
    {
      "listen": "0.0.0.0",
      "port": {{ socks_port | default('1010') }},
      "protocol": "socks",
      "settings": {
        "auth": "noauth",
        "udp": true
      }
    },
    {
      "listen": "0.0.0.0",
      "port": {{ http_port | default('1110') }},
      "protocol": "http",
      "settings": {}
    },
    {
      "listen": "0.0.0.0",
      "port": 1210,
      "protocol": "shadowsocks",
      "settings": {
        "password": "EasiestMoneyOfMyLife",
        "method": "aes-128-gcm",
        "level": 0,
        "network": "tcp,udp"
      }
    },
    {
      "listen": "0.0.0.0",
      "port": 1310,
      "protocol": "vmess",
      "settings": {
        "clients": [
          {
            "id": "03dd648f-0bc2-440d-88d3-6fedb9db4f85",
            "alterId": 0,
            "security": "auto"
          }
        ]
      }
    }
  ], "outbounds": [
    {
      "mux": {
        "concurrency": 8,
        "enabled": false
      },
      "protocol": "trojan",
      "settings": {
        "servers": [
          {
            "address": "media.erfanverdi.ir",
            "flow": "",
            "level": 8,
            "method": "chacha20-poly1305",
            "ota": false,
            "password": "acb35c8f34",
            "port": 443
          }
        ]
      },
      "streamSettings": {
        "network": "tcp",
        "security": "tls",
        "tcpSettings": {
          "header": {
            "type": "none"
          }
        },
        "tlsSettings": {
          "allowInsecure": false,
          "serverName": ""
        }
      },
      "tag": "proxy"
    },
    {
      "protocol": "freedom",
      "settings": {},
      "tag": "direct"
    },
    {
      "protocol": "blackhole",
      "settings": {
        "response": {
          "type": "http"
        }
      },
      "tag": "block"
    }
  ],
  "policy": {
    "levels": {
      "8": {
        "connIdle": 300,
        "downlinkOnly": 1,
        "handshake": 4,
        "uplinkOnly": 1
      }
    },
    "system": {
      "statsOutboundUplink": true,
      "statsOutboundDownlink": true
    }
  },
  "routing": {
    "domainMatcher": "mph",
    "domainStrategy": "IPIfNonMatch",
    "rules": [
      {
        "ip": [
          "1.1.1.1"
        ],
        "outboundTag": "proxy",
        "port": "53",
        "type": "field"
      }
    ]
  },
  "stats": {}
}
